[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pylint = "*"
"ruamel.yaml" = "*"
requests = "*"
json2xml = "*"

[requires]
python_version = "3.7"
